* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 393px;
  height: 852px;
  border: 3px solid black;
}

header {
  width: 393px;
  height: 308px;
  border: 1px solid red;
}

main {
  width: 393px;
  height: 544px;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  width: 100%;
  height: 400px;
  padding: 10px;
  border: 1px solid green;
}

li {
  height: 40px;
  margin-top: 10px;
  padding: 5px;
  list-style: none;
  text-align: left;
  border: 1px solid brown;
  display: flex;
  justify-self: space-between;
  align-items: center;
}

span {
  margin : 3px;
  cursor: pointer;
}

.check-button {
  width: 7%;
}

.editing-input, .content {
  flex-grow: 1;
}

.save-button, .cancle-button {
  min-width: 7%;
  font-size: 0.8rem;
  color: #757272;
  font-weight: 600;
}