* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 393px;
  height: 852px;
  border: 3px solid black;
}

header {
  width: 393px;
  height: 308px;
  border: 1px solid red;
}

main {
  width: 393px;
  height: 544px;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  width: 100%;
  height: 400px;
  padding: 10px;
  border: 1px solid green;
  overflow: scroll;
}

li {
  height: 40px;
  margin-top: 10px;
  padding: 5px;
  list-style: none;
  text-align: left;
  border: 1px solid brown;
  display: flex;
  justify-self: space-between;
  align-items: center;
}

span {
  margin : 3px;
  cursor: pointer;
}

.check-button {
  width: 7%;
}

.editing-input, .content {
  flex-grow: 1;
  border: none;
}

.editing-input:focus {
  outline-style: none;
}

.save-button, .cancle-button {
  min-width: 7%;
  font-size: 0.8rem;
  color: #757272;
  font-weight: 600;
}

.input-container {
  width: 100%;
  padding:  0 10px 0 10px;
  border: 1px solid goldenrod;
  display: flex;
  align-self: start;
}

.input-container > input {
  width: 80%;
  height: 40px;
  border-radius: 999px  0px 0px 999px;
  border: none;
  background-color: #efefef;
  padding-left: 25px;
  font-size: 1rem;
}

.input-container > input:focus {
  outline: none;
}

.input-container > button {
  width: 20%;
  height: 40px;
  border-radius: 0 999px 999px 0;
  background-color: #173ebf;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.9rem;
  font-weight: 700;
}